# .coveragerc to control coverage.py
[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    except ImportError

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

ignore_errors = True
fail_under = 50
show_missing = True

omit =
    deepcell/settings.py
    deepcell/utils/testing_utils.py
    deepcell/model_zoo/*
    deepcell/datasets/*
    deepcell/notebooks/*
    deepcell/tracking.py
