# .coveragerc to control coverage.py
[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    except ImportError

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

ignore_errors = True
fail_under = 80
show_missing = True

omit =
    deepcell/model_zoo.py
    deepcell/datasets/*
    deepcell/notebooks/*
