numpy>=1.16.4,<2
scipy>=1.1.0,<2
scikit-image>=0.14.1,<=0.16.2
scikit-learn>=0.19.1,<1
tensorflow>=2.1.1,<2.3.0
jupyter>=1.0.0,<2
opencv-python<=3.4.9.31
deepcell-tracking>=0.2.4
deepcell-toolbox>=0.8.0
