pandas>=0.23.0,<1
numpy>=1.11.0,<2
scipy>=1.1.0,<2
scikit-image>=0.14.0,<1
scikit-learn>=0.19.2,<1
tensorflow==1.9.0
nbformat>=4.4.0

# requirements for fizyr's retinanet and maskrcnn implmentations
opencv-python>=3.4.2.17,<4
keras-retinanet>=0.4.1,<1
git+git://github.com/fizyr/keras-maskrcnn.git@fa3d7f8e81d0ffb036fde5e134dcdbf35c206fc1
