backports.functools-lru-cache>=1.4
backports.weakref>=1.0rc1
bleach>=1.5.0
certifi>=2017.7.27.1
chardet>=3.0.4
cycler>=0.10.0
decorator>=4.1.2
funcsigs>=1.0.2
#functools32>=3.2.3.post2
gi>=1.2
h5py>=2.7.0
html5lib>=0.9999999
idna>=2.6
Markdown>=2.6.8
matplotlib>=2.1.0
mock>=2.0.0
networkx>=1.11
numpy>=1.11.0
olefile>=0.44
pandas>=0.20.3
pbr>=3.1.1
Pillow>=4.2.1
protobuf>=3.3.0
pyparsing>=2.2.0
python-dateutil>=2.6.1
pytz>=2017.2
PyWavelets>=0.5.2
PyYAML>=3.12
requests>=2.18.4
scikit-image>=0.13.0
scikit-learn>=0.18.2
scipy>=0.19.1
six>=1.10.0
#subprocess32>=3.2.7
tifffile>=0.12.1
urllib3>=1.22
Werkzeug>=0.12.2
