.sphx-glr-thumbcontainer {
    min-height: 320px !important;
    margin: 20px !important;
}
.sphx-glr-thumbcontainer img {
    max-height: 280px !important;
    max-width: 400px !important;
}
.sphx-glr-thumbcontainer .figure {
    width: 400px !important;
}
.sphx-glr-thumbcontainer a.internal {
    padding: 270px 10px 0 !important;
}
.sphx-glr-thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)) !important;
}
