# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test Docs

on:
  - pull_request

jobs:

  docs:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r docs/rtd-requirements.txt
        sudo apt-get install pandoc -y

    - name: Test sphinx-build
      run: sphinx-build -nT -b dummy ./docs/source build/html
